<div class="bg-light lter b-b wrapper-md clearfix titleBtns w-p">
    <h4 class="m-n font-thin pull-left">对象存储OSS > <span class="text-dark">{{bucketName}}</span> > Object管理 </h4>
</div>

<div class="wrapper-md">
    <div class="panel panel-default form-horizontal form" role="form" >
        <div class="panel-heading">
            <strong>Object管理</strong> sdfds实打实大师看的是范德萨看风景的时来看风景的睡懒觉了
        </div>

        <ui-operate-bar options="operateData"></ui-operate-bar>

        <ui-files-grid options="gridData" params="params"></ui-files-grid>

    </div>
</div>