<div class="bg-light lter b-b wrapper-md clearfix titleBtns w-p">
    <h4 class="m-n font-thin pull-left">对象存储OSS > 概览 </h4>
</div>


<div class="wrapper-md no-padding-bottom">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">资源包</div>
                <table class="table no-border-table">
                    <thead>
                        <tr>
                            <th class="text-center">资源包类型</th>
                            <th class="text-center">地域</th>
                            <th class="text-center">存储包规格</th>
                            <th class="text-center">套餐</th>
                            <th class="text-center">购买时长</th>
                            <th class="text-center">开通时间</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>下行流量包</td>
                            <td>华东2</td>
                            <td class="text-primary">
                                <i class="fa fa-level-up"></i> 100GB
                            </td>
                            <td>上海存储包</td>
                            <td>一年</td>
                            <td>下个月</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-dark m-r-xs">升级</button>
                                <button type="button" class="btn btn-sm btn-dark">续费</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="wrapper-md no-padding-top">
    <div class="panel panel-default form-horizontal form" role="form" >
        <div class="panel-heading">
            Bucket
        </div>

        <ui-operate-bar options="operateData"></ui-operate-bar>

        <ui-grid options="gridData" params="params" sort="sort"></ui-grid>

    </div>
</div>