<div class="bg-light lter b-b wrapper-md clearfix titleBtns w-p">
    <h4 class="m-n font-thin pull-left">对象存储OSS > <span class="text-dark">{{bucketName}}</span> > Bucket概览 </h4>
</div>

<div class="wrapper-md no-padding-bottom mgt-10">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="font-thin m-t-none m-b text-muted">概览</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="fa fa-cog"></span>
                        </div>
                    </div>
                    <div class="row mgt-10">
                        <div class="col-md-4 text-center">
                            <p>存储区域:<span>华东2</span></p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p>容量:<span>6.498MB</span></p>
                        </div>
                        <div class="col-md-4 text-center">
                            <p>创建时间:<span>2016-09-10 14:23:04</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper-md no-padding-top no-padding-bottom">
    <div class="row">
        <div class="col-md-4 col-xs-4">
            <div class="panel wrapper">
               <!-- <label class="i-switch bg-warning pull-right" ng-init="showSpline=true">
                    <input type="checkbox" ng-model="showSpline">
                    <i></i>
                </label>-->
                <h4 class="font-thin m-t-none m-b text-muted">存储空间</h4>
                <div>
                    <div e-chart ui-options="{{chartsOption}}" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="panel wrapper">
                <!--<label class="i-switch bg-warning pull-right" ng-init="showSpline=true">
                    <input type="checkbox" ng-model="showSpline">
                    <i></i>
                </label>-->
                <h4 class="font-thin m-t-none m-b text-muted">使用流量</h4>
                <div>
                    <div e-chart ui-options="{{chartsOption}}" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="panel wrapper">
                <!--<label class="i-switch bg-warning pull-right" ng-init="showSpline=true">
                    <input type="checkbox" ng-model="showSpline">
                    <i></i>
                </label>-->
                <h4 class="font-thin m-t-none m-b text-muted">每小时请求次数</h4>
                <div>
                    <div e-chart ui-options="{{chartsOption}}" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper-md no-padding-top no-padding-bottom">
    <div class="row">
        <div class="col-md-8 mgb-15">
            <div class="panel panel-default">
                <div class="panel-body pdb-25">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="font-thin m-t-none m-b text-muted">基础配置</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="fa fa-cog"></span>
                        </div>
                    </div>
                    <div class="row mgt-10">
                        <div class="col-md-6">
                            <p>Bucket权限:<span>公共读</span></p>
                        </div>
                        <div class="col-md-6">
                            <p>日志服务:<span>未开启</span></p>
                        </div>
                        <div class="col-md-6">
                            <p>生命周期管理:<span>未开启</span></p>
                        </div>
                        <div class="col-md-6">
                            <p>防盗链设置:<span>未开启</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body pdb-25">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="font-thin m-t-none m-b text-muted">OSS域名</h4>
                        </div>
                    </div>
                    <div class="row mgt-10">
                        <div class="col-md-12">
                            <p>OSS外网域名:<span>{{bucketName}}.newtouch.com</span></p>
                        </div>
                        <div class="col-md-12">
                            <p>OSS内网域名:<span>{{bucketName}}.newtouch.com</span></p>
                        </div>
                        <div class="col-md-12">
                            <p>自定义绑定域名:<span>您尚未绑定自定义域名</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>