<div class="bg-light lter b-b wrapper-md clearfix titleBtns">
    <h2 class="m-n font-thin h4 pull-left">数据库 > Mysql > 账号管理 > 新建账号</h2>
</div>

<div class="wrapper-md">

    <form novalidate name="formData" w5c-form-validate="vm.validateOptions">
        <div class="panel panel-default form-horizontal form" role="form">
            <div class="panel-heading">
                新建账户
            </div>
            <div class="panel-body">
                <div class="row wrapper">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span>*</span>数据库账号:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" required ng-model="data.username" name="username" placeholder="账号"/>
                            <p class="m-b-none">由小写字母,数字,下划线组成,字母开头,字母或数字结尾,最长16个字符</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span>*</span>授权数据库:</label>
                        <div class="col-sm-3">
                            <div class="noAuth authBox">
                                <h4>未授权数据库</h4>
                                <ul>
                                    <li ng-class="{'active':item.checked}" ng-repeat="item in noAuthData" ng-click="selectItem(item)">{{item.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-1" style="padding-top: 40px;">
                            <button class="btn btn-default btn-sm" style="margin-bottom: 10px;" ng-click="startAuth()">授权 ></button>
                            <button class="btn btn-default btn-sm" ng-click="removeAuth()">< 移除</button>
                        </div>
                        <div class="col-sm-4">
                            <div class="hasAuth authBox">
                                <h4>已授权数据库<span class="pull-right">权限<b class="allSet" ng-click="allAetRW()">{{allSetTxt}}</b></span></h4>
                                <ul>
                                    <li class="clearfloat" ng-class="{'active':item.checked}" ng-repeat="item in hasAuthData track by item.id" ng-click="selectItem(item)">{{item.name}}
                                        <span class="pull-right">
                                            <label class="i-checks i-checks-sm">
                                                <input type="radio" name="{{item.label}}" ng-model="item.rw" value="readwrite">
                                                <i></i>
                                                读写
                                            </label>
                                            <label class="i-checks i-checks-sm">
                                                <input type="radio" name="{{item.label}}" ng-model="item.rw" value="readonly">
                                                <i></i>
                                                只读
                                            </label>
                                        </span>
                                    </li>
                                </ul>
                                <span style="width: 100%;text-align: center;display: inline-block;" ng-show="noHasAuthData">暂无数据</span>
                            </div>
                        </div>
                        <p class="col-md-12" ng-show="showAuthError" style="color: #a94442;"><span class="col-md-2"></span>*授权数据库不能为空</p>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span>*</span>密码:</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" required ng-model="data.password" name="password" placeholder="密码"/>
                            <p class="m-b-none">大写,小写,数字,特殊字符占三种,长度为8-32位,特殊字符为!@#$%ﬂ*()_+-=</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span>*</span>确认密码:</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" required w5c-repeat="password" ng-model="data.repeatPassword" name="repeatPassword" placeholder="确认密码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注说明:</label>
                        <div class="col-sm-5">
                            <textarea class="form-control" ng-model="data.remark" name="remark" placeholder="备注说明"></textarea>
                            <p class="m-b-none">请输入备注说明,最多256个字符(一个汉字等于3个字符)</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 text-center">
                        <button class="btn btn-dark" w5c-form-submit="vm.saveEntity(data)">提交</button>
                        <button class="btn btn-default">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>



