<div class="bg-light lter b-b wrapper-md clearfix titleBtns">
    <h2 class="m-n font-thin h4 pull-left">
        <span>数据库 > Mongodb > 基本信息</span>
    </h2>

    <div class="btns pull-right">
        <button class="btn btn-sm m-b-xs btn-dark">自建MongoDB迁移</button>
        <button class="btn btn-sm m-b-xs btn-dark">备份实例</button>
        <button class="btn btn-sm m-b-xs btn-dark">重启实例</button>
    </div>

</div>

<div class="wrapper-md no-padding-bottom mgt-10">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body pdb-25">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>基本信息</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="fa fa-cog"></span>
                        </div>
                    </div>
                    <div class="row mgt-10">
                        <div class="col-md-4">
                            <p>实例ID:<span>au838492849newtouch</span></p>
                        </div>
                        <div class="col-md-4">
                            <p>名称:<span>newtouchone</span></p>
                        </div>
                        <div class="col-md-4">
                            <p>地域:<span>华东 2 可用区 B</span></p>
                        </div>
                        <div class="col-md-4">
                            <p>网络类型:<span>经典网络</span></p>
                        </div>
                        <div class="col-md-4">
                            <p>规格:<span>1核2G</span></p>
                        </div>
                        <div class="col-md-4">
                            <p>磁盘空间:<span>10G</span></p>
                        </div>
                        <div class="col-md-4">
                            <p>创建于:<span>2016-05-04 14：15：00</span></p>
                        </div>
                        <div class="col-md-4">
                            <p>到期时间:<span>按量付费实例需自行释放</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper-md no-padding-top no-padding-bottom">
    <div class="row">
        <div class="col-md-5">
            <div class="row row-sm text-center">
                <div class="col-xs-6">
                    <div class="panel padder-define item">
                        <div class="h1 font-thin">45%</div>
                        <span class="text-muted text-xs">磁盘空间使用率</span>
                        <div class="top text-right w-full">
                            <i class="fa fa-caret-down text-warning m-r-sm"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel padder-define item">
                        <div class="h1 text-danger font-thin">68%</div>
                        <span class="text-muted text-xs">IOPS使用率</span>
                        <div class="bottom text-right w-full">
                          <i class="fa fa-caret-down text-warning m-r-sm"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel padder-define item">
                        <div class="h1 font-thin text-success">16</div>
                        <span class="text-muted text-xs">连接数</span>
                        <div class="top text-left">
                          <i class="fa fa-caret-up text-warning m-l-sm"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel padder-define item">
                        <div class="font-thin h1">12%</div>
                        <span class="text-muted text-xs">CPU使用率</span>
                        <div class="bottom text-left">
                            <i class="fa fa-caret-up text-warning m-l-sm"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel wrapper">
                <h4 class="font-thin m-t-none m-b text-muted">实例关系</h4>
                <div class="" style="height: 250px;">
                    <div class="tree" style="width: 250px;margin-top: 68px;margin-left: auto;margin-right: auto;position: relative;">
                        <div class="absolute text-center" style="top: 34px">
                            <div class="fa fa-database node-primary"></div>
                            <br>
                            <div>Primary</div>
                            <div>
                                <a class="btn btn-dark btn-sm" target="_blank" href="#">登录</a>
                            </div>
                        </div>
                        <div style="margin-left: 66px">
                            <div class="line line-h line-solid" style="vertical-align: 60px"></div>
                            <div style="display: inline-block;">
                                <div class="line line-v line-solid"></div>
                                <div class="line line-v line-solid"></div>
                            </div>
                            <div class="line line-h line-solid line-dashed" style="position: absolute;"></div>
                            <div class="absolute text-center" style="left: 200px; top: -18px">
                                <span class="fa fa-database node-secondary node-arbiter"></span>
                                <span>Hidden</span>
                            </div>
                            <div class="line line-h line-solid" style="position: absolute; top: 120px"></div>
                            <div class="absolute text-center" style="left: 200px; top: 100px">
                                <span class="fa fa-database node-secondary"></span>
                                <span>Secondary</span>
                                <div class="text-center">
                                    <a class="btn btn-dark btn-sm" target="_blank" href="#">登录</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-muted" style="margin-top: 66px;text-align: center">Primary、Secondary节点不固定，可能发生变化<br>客户端请使用Connection String URI连接来保证高可用</div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper-md no-padding-top no-padding-bottom">
    <div class="row">
        <div class="col-md-8 mgb-15">
            <div class="panel panel-default">
                <div class="panel-body pdb-25">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>连接信息</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="fa fa-cog"></span>
                        </div>
                    </div>
                    <div class="row mgt-10">
                        <div class="col-md-6">
                            <p>版本:<span>3.2</span></p>
                        </div>
                        <div class="col-md-6">
                            <p>副本集名称:<span>mgset-1146667</span></p>
                        </div>
                        <div class="col-md-6">
                            <p>节点1:<span>dds-uf69bb44e7a27ff41.mongodb.rds.newtouch.com</span></p>
                        </div>
                        <div class="col-md-6">
                            <p>节点2:<span>dds-uf69bb44e7a27ff41.mongodb.rds.newtouch.com</span></p>
                        </div>
                        <div class="col-md-6">
                            <p>可维护时段:<span>02:00 - 06:00</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body pdb-25">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>账号管理</h4>
                        </div>
                    </div>
                    <div class="row mgt-10">
                        <div class="col-md-12">
                            <p>账号名:<span>root(权限为admin数据库下的root权限)</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






