<div class="bg-light lter b-b wrapper-md clearfix titleBtns w-p">
    <h4 class="m-n font-thin pull-left">对象存储OSS > PV/UV总量 </h4>
</div>

<div class="wrapper-md">
    <div class="panel panel-default form-horizontal form" role="form">
        <div class="panel-heading" style="background-color: #f6f8f8 !important;">
            查询条件
        </div>
        <div class="panel-body">
            <!--<ui-operate-bar options="operateData"></ui-operate-bar>-->
            <ui-search-form options="searchForm"></ui-search-form>
        </div>
        <div class="panel-heading" style="background-color: #f6f8f8 !important;">
            资源监控
        </div>
        <div class="panel-body">
            <div class="">
                <div e-chart ui-options="{{chartsOption}}" style="height: 600px;"></div>
            </div>
        </div>
    </div>
</div>