<div class="bg-light lter b-b wrapper-md clearfix titleBtns">
    <h2 class="m-n font-thin h4 pull-left">大规模计算 > 大数据服务 > 项目列表</h2>
</div>
<!--<button ng-click="test()" class="btn btn-default" type="button">测试</button>-->

<div class="wrapper-md">
    <div class="panel panel-default form-horizontal form" role="form" >
        <div class="panel-heading">
            <strong>数据列表</strong> 是带有操作系统的主机模板.用户可以基于已有映像创建主机,也可以将自有主机捕获为新映像,以备后用
            系统映像为官方提供的模板.会提供主流的Linux | Windows模板,并根据上游厂商更新版本
            有映像创建主机,也可以将自有主机捕获,供的模板.会提供主流的Linux | Windows模板
        </div>

        <ui-operate-bar options="operateData"></ui-operate-bar>

        <ui-grid options="gridData" params="params" sort="sort"></ui-grid>

    </div>
</div>


<div class="wrapper-md">
    <div class="panel panel-default form-horizontal form" role="form" >

        <ui-table options="gridData2" sort="gridData2.sort"></ui-table>

    </div>
</div>