<div class="bg-light lter b-b wrapper-md clearfix titleBtns">
    <h2 class="m-n font-thin h4 pull-left">项目管理 > 新建项目 > Sortable</h2>
</div>

<div>
    <div class="wrapper-md">
        <div class="section row" ng-controller="sortableController">
            <div class="col-md-6">
                <h4 class="m-t-none m-b">Drag to sort list</h4>
                <ul ui-sortable="sortableOptions" ng-model="list" class="list-group gutter list list-group-lg list-group-sp" >
                    <li ng-repeat="item in list" class="item list-group-item bg-default">
                        <span class="pull-right">
                            <a href><i class="fa fa-pencil fa-fw m-r-xs"></i></a>
                            <a href><i class="fa fa-plus fa-fw m-r-xs"></i></a>
                            <a href><i class="fa fa-times fa-fw"></i></a>
                        </span>
                        <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
                        <div class="clear">
                            {{item.text}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4 class="m-t-none m-b">LogOut</h4>
                <div class="">
                    <ul class="list logList">
                        <li ng-repeat="entry in sortingLog track by $index" class="logItem">
                            {{entry}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-md">
        <h4 class="m-t-none m-b">Connected items</h4>
        <div class="section row connectedItemsExample" ng-controller="connectedController">
            <div class="col-md-6">
                <ul ui-sortable="sortableOptions" ng-model="leftArray" class="list-group gutter list-group-lg list-group-sp list" >
                    <li ng-repeat="item in leftArray" class="list-group-item bg-default">
                      <span class="pull-right">
                        <a href><i class="fa fa-pencil fa-fw m-r-xs"></i></a>
                        <a href><i class="fa fa-plus fa-fw m-r-xs"></i></a>
                        <a href><i class="fa fa-times fa-fw"></i></a>
                      </span>
                        <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
                        <div class="clear">
                            {{item.text}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul ui-sortable="sortableOptions" ng-model="rightArray" class="list-group gutter list-group-lg list-group-sp list" >
                    <li ng-repeat="item in rightArray" class="list-group-item bg-default">
                      <span class="pull-right">
                        <a href><i class="fa fa-pencil fa-fw m-r-xs"></i></a>
                        <a href><i class="fa fa-plus fa-fw m-r-xs"></i></a>
                        <a href><i class="fa fa-times fa-fw"></i></a>
                      </span>
                        <span class="pull-left"><i class="fa fa-sort text-muted fa m-r-sm"></i> </span>
                        <div class="clear">
                            {{item.text}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

