<form name="dataForm" novalidate w5c-form-validate="vm.validateOptions">
    <div class="modal-body form-horizontal form">
        <div class="form-body portlet light">
            <div class="portlet-title clearfloat" style="padding-bottom:10px;border-bottom:1px solid #ececec;">
                <div class="caption font-green-sharp" style="display:inline-block;float:left;">
                    <i class="fa fa-plus"></i>
                    <span class="caption-subject bold uppercase">新建Bucket</span>
                </div>
                <div class="tools" style="float:right; cursor:pointer;">
                    <i class="fa fa-close" ng-click="cancel()"></i>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body" style="padding:15px;">
                    <div class="row">
                        <div class="col-md-12  margin-top-15">

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    BucketName
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-minlength="3" ng-maxlength="63" required ng-pattern="/^[a-z0-9]{1}[a-z0-9\\-]{1,62}[a-z0-9]{1}$/" class="form-control" name="bucketName" ng-model="entity.bucketName" placeholder="bucketName"/>
                                    </div>
                                    <span class="w5c-error" ng-if="hasBucketName">bucketName已存在，请换一个名字！</span>
                                    <p class="text-sm">Bucket命名规范：<br/>
                                        >>只能包含小写字母，数字和短横线<br/>
                                        >>必须以小写字母和数字开头和结尾<br/>
                                        >>bucketName的长度限制在3-63之间
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    所属地域
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <ui-select ng-model="entity.region" theme="bootstrap"
                                                   name="region" required>
                                            <ui-select-match placeholder="请选择...">{{$select.selected.label}}</ui-select-match>
                                            <ui-select-choices
                                                    repeat="item in selectData">
                                                <span ng-bind-html="item.label"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                           <button ng-click="entity.region = undefined"
                                                  class="btn btn-default" type="button">
                                              <span class="glyphicon glyphicon-trash"></span>
                                           </button>
                                        </span>
                                    </div>
                                    <p class="text-sm">相同地域内的产品内网可以互通；订购后不支持更换地域，请谨慎选择</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    读写权限
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <ui-select ng-model="entity.commission" theme="bootstrap"
                                                   name="commission" required>
                                            <ui-select-match placeholder="请选择...">{{$select.selected.label}}</ui-select-match>
                                            <ui-select-choices
                                                    repeat="item in selectData1">
                                                <span ng-bind-html="item.label"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                           <button ng-click="entity.commission = undefined"
                                                   class="btn btn-default" type="button">
                                              <span class="glyphicon glyphicon-trash"></span>
                                           </button>
                                        </span>
                                    </div>
                                    <p class="text-sm">>>私有：对object的所有访问操作需要进行身份验证<br>
                                        >>公共读：对object写操作需要进行身份验证；可以对object进行匿名读<br/>
                                        >>公共读写：所有人都可以对object进行读写操作
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-dark" type="submit" w5c-form-submit="vm.saveEntity(entity)">确定</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>