<form name="dataForm" novalidate ng-submit="submitDialogForm(dataForm.$valid)">
    <div class="modal-body form-horizontal form">
        <div class="form-body portlet light">
            <div class="portlet-title clearfloat" style="padding-bottom:10px;border-bottom:1px solid #ececec;">
                <div class="caption font-green-sharp" style="display:inline-block;float:left;">
                    <i class="fa fa-plus"></i>
                    <span class="caption-subject bold uppercase">{{editData?(formDisabled?'查看':'编辑'):'新增'}}数据库</span>
                </div>
                <div class="tools" style="float:right; cursor:pointer;">
                    <i class="fa fa-close" ng-click="cancel()"></i>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body" style="padding:15px;">
                    <div class="row">
                        <div class="col-md-12  margin-top-15">

                            <div class="form-group" ng-class="{ 'has-error' : dataForm.partyName.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    数据库名
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.partyName" name="partyName" db-validator="required" ng-maxlength="100" class="form-control" placeholder="数据库名" ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm.partyName.$invalid && submited ">{{$dbForm.partyName.msg}}</span>
                                        <!--<span class="help-block" ng-show="dataForm.nameZh.$error.unique">角色名必须唯一</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm.partyNo.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    数据库状态
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.partyNo" db-validator="required" name="partyNo" ng-maxlength="100" class="form-control" placeholder="数据库状态"  ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm.partyNo.$invalid && submited ">{{$dbForm.partyNo.msg}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm.organizationName.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    字符集
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.organizationName" db-validator="required" name="organizationName" class="form-control" placeholder="字符集" ng-maxlength="255"  ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm.organizationName.$invalid && submited ">{{$dbForm.organizationName.msg}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm.departmentName.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    绑定账号
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.departmentName" db-validator="required" name="departmentName" class="form-control" placeholder="绑定账号" ng-maxlength="255"  ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm.departmentName.$invalid && submited ">{{$dbForm.departmentName.msg}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : dataForm.businessType.$invalid && submited }">
                                <label class="col-md-3 control-label">
                                    描述
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" ng-model="data.businessType" db-validator="required" name="businessType" class="form-control" placeholder="描述" ng-maxlength="255"  ng-disabled="formDisabled"/>
                                        <span class="help-block" ng-show="dataForm.businessType.$invalid && submited ">{{$dbForm.businessType.msg}}</span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="col-md-3 control-label">
                                    可编辑
                                </label>
                                <div class="col-md-9 control-label">
                                    <div class="input-group">
                                        <div class="checker">
                                            <label class="i-checks m-b-none">
                                                <input type="checkbox" ng-model="data.departmentName" name="checked"><i></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button class="btn " ng-class="{'btn-primary':formDisabled,'btn-danger':!formDisabled}" ng-show="editData" type="button" ng-click="changeEdit()">
            {{formDisabled?'编辑':'取消'}}
        </button> -->
        <button class="btn btn-primary" type="submit" ng-show="!editData||!formDisabled">确定</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>