
.ui.steps{
    width: 100%;
    border:1px solid rgba(34, 36, 38, 0.15);
}

.ui.steps .step{
    width:33.33%;
    padding:15px 20px;
    text-align: center;
    position: relative;
    border-right:1px solid rgba(34, 36, 38, 0.15);
}

.ui.steps .step:last-child{
    border-right: none;
}

.ui.steps .step:last-child:after{
    display: none;
}

.ui.steps .step .label-num{
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
}

.green{
    background: #21BA45 !important;
}

.ui.segment{
    border:1px solid rgba(34, 36, 38, 0.15);
    border-top:none;
    display: none;
    height: 200px;
}

.ui.segment.active{
    display: block;
}

.ui.steps .step.active{
    cursor: pointer;
    background: #f3f4f5;
}

.ui.steps .step.active .label-txt{
    color: #4183C4;
    font-weight: bold;
}

.ui.steps .step.active:after{
    background: #f3f4f5 !important;
}

.ui.steps .step:after{
    /*display: none;*/
    position: absolute;
    z-index: 2;
    content: '';
    top: 50%;
    right: 0%;
    border: medium none;
    background-color: #FFFFFF;
    width: 1.16666667em;
    height: 1.16666667em;
    border-style: solid;
    border-color: rgba(34, 36, 38, 0.15);
    border-width: 0px 1px 1px 0px;
    -webkit-transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
    transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease, box-shadow 0.1s ease;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
    transform: translateY(-50%) translateX(50%) rotate(-45deg);
    background-color: white;
}

.btn-blue{
    background-color: #1678c2;
    color: #FFFFFF;
    text-shadow: none;
}

.btn-blue:hover,.btn-blue:active,.btn-blue:focus{
    color: #fff !important;
}

.btn-group .btn-default:focus,.btn-group  .btn-default:active,.btn-group  .btn-default.active, .open .dropdown-toggle.btn-default{
    color: #fff !important;
    background-color: #2185D0;
    border-color: #2185D0;
    text-shadow: none !important;
    box-shadow: none !important;
}

.bk-items-list{
    border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.right-title{
    font-weight: bold !important;
}

.bk-items-list li{
    margin-top: 11px !important;
}

.rzslider .rz-pointer,.rzslider .rz-bar.rz-selection{
    background-color: #1678c2 !important;
}



