<div class="aside-wrap">
    <div class="navi-wrap">
        <!-- nav -->
        <nav ui-nav class="navi">
            <!-- list -->

            <!--菜单遍历开始,最多有三级菜单-->
            <!--<ul class="nav" ng-repeat="menus in pageHeaderMenus">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span>{{menus.groupName}}</span>
                </li>

                <li ui-sref-active="active" ng-repeat="menu in menus.menulist">
                    <a ui-sref="{{menu.url}}" ng-if="menu.url">
                        <i class="fa fa-{{menu.icon}} icon {{menu.colorStyle}}"></i>
                        <span class="font-bold">{{menu.name}}</span>
                    </a>
                    <a href="javascript:void(0)" ng-if="!menu.url" class="auto">
                        <span class="pull-right text-muted">
                            <i class="fa fa-fw fa-angle-right text"></i>
                            <i class="fa fa-fw fa-angle-down text-active"></i>
                        </span>
                        <i class="fa fa-{{menu.icon}} icon {{menu.colorStyle}}"></i>
                        <span class="font-bold">{{menu.name}}</span>
                    </a>

                    <ul class="nav nav-sub dk" ng-if="menu.subList">
                        <li class="nav-sub-header">
                            <a href="javascript:void(0)">
                                <span>{{menu.name}}</span>
                            </a>
                        </li>

                        <li class="sub-li" ui-sref-active="active" ng-repeat="submenu in menu.subList">
                            <a ui-sref="{{submenu.url}}" ng-if="submenu.url">
                                <span class="font-bold">{{submenu.name}}</span>
                            </a>

                            <a href="javascript:void(0)" ng-if="!submenu.url" class="auto">
                                <span class="pull-right text-muted">
                                    <i class="fa fa-fw fa-angle-right text"></i>
                                    <i class="fa fa-fw fa-angle-down text-active"></i>
                                </span>
                                <span class="font-bold">{{submenu.name}}</span>
                            </a>

                            <ul class="nav nav-sub dk" ng-if="submenu.subList">
                                <li class="nav-sub-header">
                                    <a href="javascript:void(0)">
                                        <span>{{submenu.name}}</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active" ng-repeat="subsubmenu in submenu.subList">
                                    <a ui-sref="{{subsubmenu.url}}">
                                        <span>{{subsubmenu.name}}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </li>

            </ul>-->


            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span>数据库</span>
                </li>
                <li ng-class="{active:$state.includes('paas.mysql') || $state.includes('paas.createInstance') || $state.includes('paas.mysqlDetail')}">
                    <a ui-sref="paas.mysql">
                        <i class="iconfont text-info-dker">&#xe6b8;</i>
                        <span class="font-bold">Mysql</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="paas.redis">
                        <i class="iconfont text-danger-dker">&#xe6b7;</i>
                        <span class="font-bold">Redis</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="paas.mongodb">
                        <i class="fa fa-leaf icon text-success-dker"></i>
                        <span class="font-bold">Mongodb</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="paas.noneOss">
                        <i class="fa fa-briefcase icon text-primary-dker"></i>
                        <span class="font-bold">对象存储OSS</span>
                    </a>
                </li>
            </ul>

            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span>服务器</span>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="paas.zookeeper.basicInfo">
                        <i class="glyphicon glyphicon-signal"></i>
                        <span class="font-bold">Zookeeper</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="paas.books">
                        <i class="glyphicon glyphicon-book"></i>
                        <span class="font-bold">图书管理</span>
                    </a>
                </li>
            </ul>

            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span>大规模计算</span>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="paas.computer">
                        <i class="glyphicon glyphicon-signal"></i>
                        <span class="font-bold">大数据计算服务</span>
                    </a>
                </li>


                <li class="line dk"></li>

            </ul>

            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span>基本</span>
                </li>

                <li>
                    <a href class="auto">
                          <span class="pull-right text-muted">
                            <i class="fa fa-fw fa-angle-right text"></i>
                            <i class="fa fa-fw fa-angle-down text-active"></i>
                          </span>
                        <i class="glyphicon glyphicon-briefcase icon"></i>
                        <span class="font-bold">项目管理</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>项目管理</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="paas.jstree">
                                <span>项目列表</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="paas.zhugeDemo">
                                <span>新建项目</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="paas.zhugeDemo1">
                                <b class="label bg-info pull-right">N</b>
                                <span>编辑项目</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="paas.books1">
                                <!--<b class="label bg-info pull-right">N</b>-->
                                <span>图书管理</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href class="auto">
                      <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                      </span>
                        <i class="glyphicon glyphicon-file icon"></i>
                        <span class="font-bold">节点管理</span>
                    </a>
                    <ul class="nav nav-sub dk">
                        <li class="nav-sub-header">
                            <a href>
                                <span>节点管理</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="paas.uiTree">
                                <span>节点列表</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.dashboard-v1">
                                <span>新建节点</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.dashboard-v1">
                                <span>编辑节点</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="line dk"></li>
            </ul>

            <ul class="nav">
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                    <span>你的资料</span>
                </li>
                <li>
                    <a ui-sref="paas.profile">
                        <i class="icon-user icon text-success-lter"></i>
                        <b class="badge bg-success pull-right">30%</b>
                        <span>个人资料</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="paas.docs">
                        <i class="icon-question icon"></i>
                        <span>文档说明</span>
                    </a>
                </li>
            </ul>

            <!-- / list -->
        </nav>
        <!-- nav -->
    </div>
</div>