
<span class="btnEdit add_tiaojian">
    <!--<span class="icon_editor fa fa-pencil" style="margin-right: 3px;"></span>-->
    <span class="shaixuanword" style="cursor: pointer;" ng-show="uiFilters.showShaixuan" ng-click="uiFilters.addFilter()">筛选条件</span>


    <script type="text/ng-template" id="uiFiltersModal_tpl.html">
        <form name="dataForm" novalidate class="form-horizontal form">
            <div class="modal-body form-horizontal form">
                <div class="form-body portlet dbLight">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp" style="padding-bottom: 12px;border-bottom: 1px solid #e5e5e5;">
                            <i class="fa fa-leaf" style="font-size: 16px; margin-top: 0px;"></i>
                            <span class="caption-subject bold uppercase">自定义筛选</span>
                        </div>
                        <!--<div class="tools">
                            <i class="fa fa-close" ng-click="modalClose()"></i>
                        </div>-->
                    </div>
                    <div>
                        <ul class="groupform">
                            <li class="clearfloat">
                                <div class="grouplabels">筛选:</div>
                                <div class="rightcont">
                                    <div class="relations">
                                        <div ng-repeat="rel in construct"> <!--并且条件遍历处-->
                                            <div class="andlabels labelsbg_white" ng-show="rel.showAndlabel">并且</div>
                                            <div class="relation">     <!-- 一个并且条件包含多个或者条件 -->
                                                <div class="group_combo">     <!-- 一个或者条件 -->

                                                    <div ng-repeat="relation in rel.relation">   <!-- 或者条件遍历处 -->
                                                        <div class="orlabels" ng-show="relation.showOrlabel">或者</div>
                                                        <div class="groupbox">
                                                            <span class="closeBtn fa fa-close" ng-click="removeGroup(construct,rel,rel.relation,relation)"></span>
                                                            <div class="groups row">
                                                                <div class="col-md-3">
                                                                    <ui-select ng-model="relation.oneSelectModal" theme="bootstrap" on-select="onOneSelect(relation,$select.selected)">
                                                                        <ui-select-match placeholder="请选择">{{$select.selected.label}}</ui-select-match>
                                                                        <ui-select-choices repeat="item in relation.oneSelect">
                                                                            <div ng-bind-html="item.label"></div>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                </div>
                                                                <div class="col-md-3" ng-if="relation.twoSelect">
                                                                    <ui-select ng-model="relation.twoSelectModal" theme="bootstrap" on-select="onTwoSelect(relation,$select.selected)">
                                                                        <ui-select-match placeholder="请选择">{{$select.selected.label}}</ui-select-match>
                                                                        <ui-select-choices repeat="item in relation.twoSelect">
                                                                            <div ng-bind-html="item.label"></div>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                </div>
                                                                <div class="col-md-3" ng-if="relation.three.type">
                                                                    <!--<label >{{relation.three.label}}</label>-->
                                                                    <input type="text" ng-model="relation.three.condModal2" placeholder="{{relation.three.placeholder}}" ng-if="relation.three.type=='text'" class="form-control"/>
                                                                    <input type="number" ng-model="relation.three.condModal2" placeholder="{{relation.three.placeholder}}" min="relation.three.minValue" max="relation.three.maxValue" ng-if="relation.three.type=='number'" class="form-control"/>

                                                                </div>

                                                                <div class="col-md-5" ng-if="relation.three.type&&relation.three.type=='dateRange'">
                                                                    <!--<div class="input-group input-larger date-picker input-daterange" style="width: 100%;" data-date="now" data-date-format="yyyy-mm-dd">
                                                                        <input ng-model="relation.three.startDate" name="startDate" type="text" placeholder="开始日期" ng-required="true" class="form-control form-control-readonly">
                                                                        <span class="input-group-addon">-</span>
                                                                        <input ng-model="relation.three.endDate" name="endDate" type="text" placeholder="结束日期" ng-required="true" class="form-control form-control-readonly">
                                                                    </div>-->

                                                                    <input date-range-picker class="form-control date-picker" type="text" placeholder="{{relation.three.placeholder}}" ng-model="relation.three.date" ng-init="relation.three.date={startDate: null, endDate: null}"
                                                                           min="relation.three.minDate" max="relation.three.maxDate" options="{clearLabel:'清除',applyLabel:'应用'}"/>

                                                                </div>

                                                                <div class="col-md-5" ng-if="relation.three.type&&relation.three.type=='numberRange'">
                                                                    <div class="input-group input-larger" style="width: 100%;">
                                                                        <input ng-model="relation.three.num.startNum" name="startNum" type="number" placeholder="起始数字" ng-required="true" class="form-control form-control-readonly">
                                                                        <span class="input-group-addon">-</span>
                                                                        <input ng-model="relation.three.num.endNum" name="endNum" type="number" placeholder="结束数字" ng-required="true" class="form-control form-control-readonly">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-1" style="line-height: 30px;margin-left: -22px;">
                                                                    <label ng-if="relation.three.unitLable">
                                                                        {{relation.three.unitLable}}
                                                                    </label>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="add_cont orbtn addorcondition" ng-click="addOrBar(rel.relation)">
                                                        <span class="fa fa-plus"></span>
                                                        或者条件
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="addAndCondition" class="add_cont andbtn" ng-click="addAndBar(construct)">
                                        <span class="fa fa-plus"></span>并且条件
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-dark" type="button" ng-click="closeModal()">确定</button>
                        <button class="btn btn-default" type="button" ng-click="modalClose()">关闭</button>
                    </div>
                </div>
            </div>
        </form>
    </script>

</span>


