<div class="form-body wrapper">
    <div ng-repeat="section in uiForm.sections">
        <div class="portlet-title" ng-if="section.sectionTitle.show" style="padding-bottom:15px;">
            <div class="caption font-green-sharp">
                <i class="fa fa-{{section.sectionTitle.icon}} font-green-sharp tabIcon"></i>
                <span class="caption-subject bold uppercase">{{section.sectionTitle.label}}</span>
            </div>
        </div>
        <div class="row dbRow">
            <div class="col-md-{{field.cols}}" ng-repeat="field in section.fields">
                <!-- not range date -->
                <div class="form-group" ng-class="{ 'has-error' : dataForm[field.name].$invalid && uiForm.submited }" ng-if="field.type!='dateRange' && field.type!='textarea'">
                    <label class="col-md-{{field.labelCols}} control-label" style="padding-right: 0;"><span class="required" ng-if="field.required"> * </span>{{field.label}}</label>

                    <!-- orgTree -->
                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem" ng-if="field.type==='orgTree'">
                        <!--<db-org-tree></db-org-tree>-->
                    </div>
                    <!-- resourceTree -->
                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem" ng-if="field.type==='resourceTree'">
                        <ui-resource-tree fields={{field}}></ui-resource-tree>
                    </div>
                    <!-- monthSelect -->
                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem" ng-if="field.type=='monthSelect'">
                        <!--<db-month-select></db-month-select>-->
                    </div>

                    <!-- input hidden -->
                    <input type="hidden" name="{{field.name}}" ng-model='uiForm.formData[field.name]' ng-if="field.type=='hidden'">

                    <!-- input -->
                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem" ng-if="field.type=='text'">
                        <input ng-if="!field.clickEvent" ng-model='uiForm.formData[field.name]' name="{{field.name}}" type="text" placeholder="{{field.placeholder}}" ng-required="field.required"
                               ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)" class="form-control"
                               ng-class="{'form-control-readonly':field.readonly}"
                               ng-readonly="field.readonly" db-validator="{{field.dbValidator}}">
                        <input ng-if="field.clickEvent" ng-click="field.click(field.name,field)" ng-model='uiForm.formData[field.name]' name="{{field.name}}" ng-class="{'form-control-readonly':field.readonly}"
                               ng-readonly="field.readonly" type="{{field.type}}" placeholder="{{field.placeholder}}" ng-required="field.required"
                               ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)" class="form-control">

                        <span class="help-block" ng-show="dataForm[field.name].$invalid && uiForm.submited">{{field.label}}字段为必录项!</span>
                    </div>
                    <!-- input -->
                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem" ng-if="field.type=='number'">
                        <input ng-if="!field.clickEvent" ng-model='uiForm.formData[field.name]' name="{{field.name}}" type="number" placeholder="{{field.placeholder}}" ng-required="field.required"
                               ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)" class="form-control"
                               ng-class="{'form-control-readonly':field.readonly}"
                               ng-readonly="field.readonly">
                        <input ng-if="field.clickEvent" ng-click="field.click(field.name,field)" ng-model='uiForm.formData[field.name]' name="{{field.name}}" ng-class="{'form-control-readonly':field.readonly}"
                               ng-readonly="field.readonly" type="{{field.type}}" placeholder="{{field.placeholder}}" ng-required="field.required"
                               ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)" class="form-control">

                        <span class="help-block" ng-show="dataForm[field.name].$invalid && uiForm.submited">{{field.label}}字段为必录项!</span>
                    </div>
                    <!-- checkbox -->
                    <div class="form-group form-md-checkboxes uiFormItem" ng-if="field.type=='checkbox'" style="margin-left: 10px;float: left;">
                        <div class="md-checkbox-inline" style="margin-top: 6px;">
                            <div class="md-checkbox">

                                <label class="i-checks m-b-none i-checks-sm" ng-click="uiForm.checkClick(field,uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)" ng-if="field.checked">
                                    <input type="checkbox" checked="checked" ng-disabled="uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor"><i></i>
                                </label>

                                <label class="i-checks m-b-none i-checks-sm" ng-click="uiForm.checkClick(field,uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)" ng-if="!field.checked">
                                    <input type="checkbox" ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)"><i></i>
                                </label>

                            </div>
                        </div>
                    </div>
                    <!-- select -->
                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem" ng-if="field.type=='select'">

                        <div class="input-group" ng-if="field.showDelete">
                            <ui-select ng-model="uiForm.formData[field.name]" theme="bootstrap"
                                       name="{{field.name}}" ng-required="field.required" on-select="uiForm.changeItem($item, $model)" ng-readonly="field.readonly"
                                       ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)">
                                <ui-select-match placeholder="请选择...">{{$select.selected[field.valField]}}</ui-select-match>
                                <ui-select-choices
                                        repeat="item in field.data | filter: $select.search">
                                    <span ng-bind-html="item[field.valField] | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                              <button ng-click="uiForm.formData[field.name] = undefined" ng-disabled="uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor"
                                      class="btn btn-default" type="button">
                                  <span class="glyphicon glyphicon-trash"></span>
                              </button>
                            </span>

                        </div>
                        <span class="help-block" ng-show="dataForm[field.name].$invalid && uiForm.submited ">{{field.label}}字段为必录项!</span>

                        <div ng-if="!field.showDelete">
                            <ui-select ng-model='uiForm.formData[field.name]' theme="bootstrap" name="{{field.name}}" ng-required="field.required" ng-readonly="field.readonly"
                                       ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)">
                                <ui-select-match placeholder="请选择...">{{$select.selected[field.valField]}}</ui-select-match>
                                <ui-select-choices
                                        repeat="item in field.data | filter: $select.search">
                                    <span ng-bind-html="item[field.valField] | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="help-block" ng-show="dataForm[field.name].$invalid && uiForm.submited ">{{field.label}}字段为必录项!</span>
                        </div>
                    </div>
                    <!-- single date -->
                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem" ng-if="field.type==='date'">
                        <input ng-model="uiForm.formData[field.name]" name="{{field.name}}" type="text" placeholder="{{field.placeholder}}" data-date-format="yyyy-mm-dd" ng-required="field.required" readonly
                               ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)" class="form-control date-picker form-control-readonly">
                        <span class="help-block" ng-show="dataForm[field.name].$invalid && uiForm.submited ">{{field.label}}字段为必录项!</span>
                    </div>
                    <!-- single dateTime -->
                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem" ng-if="field.type==='dateTime'">
                        <input ng-model="uiForm.formData[field.name]" name="{{field.name}}" type="text" placeholder="{{field.placeholder}}" ng-required="field.required" readonly
                               ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)" class="form-control timepicker date-picker-time form-control-readonly">
                        <span class="help-block" ng-show="dataForm[field.name].$invalid && uiForm.submited ">{{field.label}}字段为必录项!</span>
                    </div>

                    <!--multiple-->
                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem" ng-if="field.type === 'multiple'">
                        <ui-select
                                ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)"
                                multiple ng-model="uiForm.formData[field.name]" name="{{field.name}}" ng-required="field.required" theme="bootstrap" style="min-height: 28px;">
                            <ui-select-match placeholder="{{field.placeholder}}可多选">{{$item[field.valField]}}</ui-select-match>
                            <ui-select-choices
                                    repeat="item in field.data">
                                <span ng-bind-html="item[field.valField] | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : (dataForm.startDate.$invalid || dataForm.endDate.$invalid) && uiForm.submited }" ng-if="field.type=='dateRange'">
                    <label class="col-md-{{field.labelCols}} control-label" style="padding-right: 0;"><span class="required" ng-if="field.required"> * </span>{{field.label}}</label>

                    <!-- range date -->
                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem">
                        <div class=" input-group input-larger date-picker input-daterange" style="width: 100%;" data-date="now" data-date-format="yyyy-mm-dd">
                            <input ng-model="uiForm.formData.startDate" name="startDate" type="text" placeholder="开始日期" ng-required="field.required"
                                   ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)"
                                   class="form-control form-control-readonly">
                            <span class="input-group-addon">-</span>
                            <input ng-model="uiForm.formData.endDate" name="endDate" type="text" placeholder="结束日期" ng-required="field.required"
                                   ng-disabled="uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor"
                                   class="form-control form-control-readonly">
                        </div>
                        <span class="help-block" ng-show="(dataForm.startDate.$invalid || dataForm.endDate.$invalid) && uiForm.submited ">{{field.label}}字段为必录项!</span>
                    </div>

                </div>
                <!-- textarea -->
                <div class="form-group" ng-class="{ 'has-error' : dataForm[field.name].$invalid && uiForm.submited }" ng-if="field.type=='textarea'">
                    <label class="control-label col-md-{{field.labelCols}}"><span class="required" ng-if="field.required"> * </span>{{field.label}}</label>

                    <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem">
                        <textarea ng-model="uiForm.formData[field.name]" placeholder="{{field.placeholder}}" ng-readonly="field.readonly" name="uiForm.formData[field.name]" class="form-control"
                                  ng-class="{'form-control-readonly':field.readonly}" ng-required="field.required"
                                  style="resize: none"
                                  ng-disabled="field.disabled?field.disabled:(uiForm.isEditView?(field.editable?uiForm.globalFieldEditor:true):uiForm.globalFieldEditor)"></textarea>
                        <span class="help-block" ng-show="dataForm[field.name].$invalid && uiForm.submited ">{{field.label}}字段为必录项!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>