<div class="row wrapper-sm">

    <div class="col-md-10">
        <div class="col-md-{{field.cols}}" ng-repeat="field in options.form.fields">
            <div class="form-group">
                <label class="col-md-{{field.labelCols}} control-label" style="padding-right: 0;">{{field.label}}</label>
                <!-- resourceTree -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} uiFormItem" ng-if="field.type==='resourceTree'">
                    <!--<ui-resource-tree fields={{field}}></ui-resource-tree>-->
                </div>
                <div class="col-md-{{field.labelCols==''?'': (12 - field.labelCols - 1)}}"
                     ng-if="field.type==='text'">
                    <input ng-model='options.params[field.name]' type="text" placeholder="{{field.placeholder}}"
                           class="form-control">
                </div>
                <div class="col-md-{{field.labelCols==''?'': (12 - field.labelCols - 1)}}" ng-if="field.type==='select'">
                    <div class="input-group">
                        <ui-select ng-model="options.params[field.name]" theme="bootstrap" ng-init="options.params[field.name] = undefined">
                            <ui-select-match placeholder="请选择...">{{$select.selected[field.valField]}}</ui-select-match>
                            <ui-select-choices
                                    repeat="item in field.data">
                                <div ng-bind-html="item[field.valField]"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                                      <button ng-click="options.params[field.name] = undefined"
                                              class="btn btn-default" type="button">
                                          <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                    </div>
                </div>
                <div class="col-md-{{field.labelCols==''?'': (12 - field.labelCols - 1)}}"
                     ng-if="field.type==='dateRange'">
                    <div class=" input-group input-larger date-picker input-daterange" style="width: 100%;"
                         data-date="now"
                         data-date-format="yyyy-mm-dd">
                        <input type="text" class="form-control" ng-model="options.params.startDate"
                               placeholder="开始日期">
                        <span class="input-group-addon">-</span>
                        <input type="text" class="form-control" ng-model="options.params.endDate"
                               placeholder="结束日期">
                    </div>
                </div>
                <div class="col-md-{{field.labelCols==''?'': (12 - field.labelCols - 1)}}"
                     ng-if="field.type==='date'">
                    <input ng-model="options.params[field.name]" name="{{field.name}}"
                           class="form-control date-picker" placeholder="{{field.placeholder}}" type="text"
                           data-date-format="yyyy-mm-dd"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 text-center" style="margin-bottom:0px;">
        <button type="button" ng-click="options.submitter(options.params)" class="btn btn-dark">
            <i class="fa fa-search"></i>查询
        </button>
    </div>
</div>